body {
  background: rgb(226,59,59);
  background: radial-gradient(circle, rgba(226,59,59,1) 21%, rgba(219,20,20,1) 42%, rgba(158,12,12,1) 98%);
  min-width: 250px;
}

  
  h1 {
  color: white;
  text-align: center;
  min-width: 225px;
  }

  h2 {
    color: white;
    text-align: center;
    min-width: 200px;
    }

  
  p {
  color: white;
  text-align: center;
  min-width: 225px;
  } 


 /* standard button */
  .button {
  background-color: white;
  border: none;
  border-radius: 10%;
  width: 125px;
  height: 75px;
  padding: 16px;
  text-align: center;
  text-decoration: None;
  font-weight: bold;
  font-size: 20px;
  color: rgb(219, 20, 20);
  margin: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-left: 62.5px;
  margin-right: 62.5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
  background-color: #d1d1d1;
}


/* settings button */
.setbutton {
  background-color: white;
  border: none;
  border-radius: 10%;
  width: 110px;
  height: 45px;
  padding: 16px;
  text-align: center;
  text-decoration: None;
  font-weight: bold;
  font-size: 16px;
  color: rgb(219, 20, 20);
  cursor: pointer;
  transition-duration: 0.4s;
  margin: 10px;
  margin-left: 70px;
  margin-right: 70px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.setbutton:hover {
  background-color: #d1d1d1;
}

.setbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.setbutton span:after {
  content: '\00BB';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0px;
  transition: 0.5s;
}

.setbutton:hover span {
  padding-right: 20px;
}

.setbutton:hover span:after {
  opacity: 1;
  right: 0;
}

.updateC {

  background-color: white;
  border: none;
  border-radius: 10%;
  width: 100px;
  height: 40px;
  padding: 14px;
  text-align: center;
  text-decoration: None;
  font-weight: bold;
  font-size: 15px;
  color: rgb(219, 20, 20);
  cursor: pointer;
  transition-duration: 0.4s;
  margin-bottom: 10px;
  margin-left: 75px;
  margin-right: 75px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.updateC:hover {
  background-color: #d1d1d1;
}

.updateV {

  background-color: white;
  border: none;
  border-radius: 10%;
  width: 100px;
  height: 40px;
  padding: 14px;
  text-align: center;
  text-decoration: None;
  font-weight: bold;
  font-size: 15px;
  color: rgb(219, 20, 20);
  cursor: pointer;
  transition-duration: 0.4s;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 75px;
  margin-right: 75px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.updateV:hover {
  background-color: #d1d1d1;
}

/* back button */
.backbutton {
  background-color: white;
  border: none;
  border-radius: 10%;
  width: 110px;
  height: 45px;
  padding: 16px;
  text-align: center;
  text-decoration: None;
  font-weight: bold;
  font-size: 16px;
  color: rgb(219, 20, 20);
  cursor: pointer;
  transition-duration: 0.4s;
  margin: 10px;
  margin-left: 70px;
  margin-right: 70px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.backbutton:hover {
  background-color: #d1d1d1;
}

.backbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.backbutton span:after {
  content: '\00AB';
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0px;
  transition: 0.5s;
}

.backbutton:hover span {
  padding-left: 25px;
}

.backbutton:hover span:after {
  opacity: 1;
  left: 0;
}


input[type=text] {
  width: 100%;
  padding: 8px 14px;
  margin: 8px 0;
  box-sizing: border-box;
}

label{
  font-size: 14px;
  color: white;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 80px;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Checkbox */
.checkmark {
  position: absolute;
  margin-left: 45px;
  margin-top: -3px;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: white;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid;
  border-color: rgb(219, 20, 20);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.clearfix {
  clear: both;
}

.rate-value, .pitch-value {
  float: right;
  width: 5%;
}

#rate, #pitch {
  float: right;
  width: 60%;
}

.controls {
  text-align: center;
  margin-top: 10px;
  
}

.custom-select {
  position: relative;
  font-family: Arial;
  margin-top: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 50px;
  width: 200px;
  height: 7px;
  background: white;
  border-radius: 5px;
  background-size: 70% 100%;
  background-repeat: no-repeat;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: linear-gradient(white, #b3b3b3);
  cursor: ew-resize;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.pitch-value {
  color: white;
  position: relative;
  bottom: 25px;
  margin-left: 180px;
  margin-right: 20px;
  font-size: 16px;

}

.rate-value {
  color: white;
  position: relative;
  bottom: 25px;
  margin-left: 180px;
  margin-right: 20px;
  font-size: 16px;

}